@use "../var" as *;

// ===========================================
//                  contact
// ===========================================

.contact {
  &__body {
    @include sp-padding;
    padding-top: 3vw;
    padding-bottom: 10vw;

    @include mediaquery(pc) {
      @include pc-padding;
    }
  }

  &__container {
    @include mediaquery(pc) {
      width: 90vw;
      margin-right: -10vw;
      display: flex;
    }
  }
}

// ===========================================
//                  form
// ===========================================

.form {
  font-family: 'Yu Mincho','YuMincho', serif;

  @include mediaquery(pc) {
    width: 55%;
    padding-right: 5vw;
  }

  &__label-outer {
    margin-bottom: 3vw;

    @include mediaquery(pc) {
      margin-bottom: 2vw;
    }
  }

  &__label {
    margin-right: 1em;
  }

  &__input-outer {
    margin-bottom: 6vw;
    border: 1px solid $base-font-color;

    @include mediaquery(pc) {
      margin-bottom: 4vw;
    }
    
    &--in-triangle {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: .8em;
        height: .6em;
        background: $base-font-color;
        clip-path: polygon(50% 100%, 0 0, 100% 0);      
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: .8em 1em;

    &--select {
      line-height: 1.6;
      color: $base-font-color;
      position: relative;
    }

    &--area {
      line-height: 1.6;
      height: 12em;
    }
  }

  &__send {
    margin-bottom: 6vw;

    @include mediaquery(pc) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4vw;
    }
  }

  &__agree {
    position: relative;
    margin-bottom: 6vw;

    @include mediaquery(pc) {
      margin-bottom: 0;
    }
  }

  &__agree-input {
    opacity: 0;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    vertical-align: middle;
  }

  &__agree-checkbox {
    width: 1em;
    height: 1em;
    border: 1px solid $base-font-color;
    display: block;
    position: absolute;
    top: 50%;
    left: .25em;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__agree-check {
    width: 1em;
    height: .5em;
    border: {
      bottom: 1px solid $base-font-color;
      left: 1px solid $base-font-color;
    }
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: rotate(315deg);
    pointer-events: none;
    opacity: 0;
  }

  &__agree-input:checked + .form__agree-checkbox .form__agree-check {
    opacity: 1;
  }

  &__agree-label {
    cursor: pointer;
  }

  &__agree-link {
    text-decoration: underline;
  }

  &__submit {
    line-height: 1;
  }

  &__submit-button {
    width: 100%;
    padding: 1.5em 0;
    font-size: 1.2em;

    @include mediaquery(pc) {
      width: auto;
      padding: 1em 1.4em;
    }
  }
}

// ===========================================
//                  step
// ===========================================

.step {
  display: none;

  @include mediaquery(pc) {
    @include flex-center;
    height: 100vh;
    min-height: 45vw;
    width: 45%;
    background: $accent-color;
  }

  &__list {
    width: 70%;
    height: 60%; 
  }

  &__item {
    width: 100%;
    height: calc(100% / 3);
    @include flex-center;
    font-size: 1.5em;
    background: $base-color;
    color: $base-font-color;

    &.current {
      background: $base-font-color;
      color: $base-color;
    }
  }
}