@use "../var" as *;

// ===========================================
//                  concept
// ===========================================

.concept {
  background: $base-color;
  overflow-x: hidden;
  width: 100vw;

  &__title {
    margin-bottom: 3vw;
  }

  &__main-title {
    text-align: center;
  }

  &__sub-title {
    text-align: center;
  }
}

// ===========================================
//                  intro
// ===========================================

.intro {
  &__text {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &__catch-copy-area {
    width: 100%;
  }

  &__catch-copy-container {
    display: flex;
    width: max-content;
    position: relative;
    top: -2em;
    left: 0;
    margin-bottom: 5vw;

    @include mediaquery(pc) {
      top: -4.5em;
      margin-bottom: 5vw;
    }
  }

  &__catch-copy {
    font-size: 12em;
    font-weight: 500;
    line-height: 1;
    background: $accent-color;
    -webkit-background-clip: text;
    color: transparent;
    padding-right: 1em;

    @include mediaquery(pc) {
      font-size: 18em;
    }
  }
}

// ===========================================
//       concept__content media-multi
// ===========================================

.media-multi {
  padding: 0 0 calc(50 / 375 * 100vw);

  @include mediaquery(pc) {
    padding: 0 0 5vw;
    position: relative;
  }

  &__body {
    padding-bottom: calc(25 / 375 * 100vw);
    position: relative;
    z-index: 1;
      
    }
    @include mediaquery(pc) {
      padding-left: 56vw;
      padding-bottom: 60vw;
    }

    &--reverse {
      @include mediaquery(pc) {
        padding-left: 16vw;
      }
  }

  &__title {
    @include mediaquery(pc) {
      width: 28vw;
    }
  }

  &__text {
    @include mediaquery(pc) {
      width: 28vw;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: none;
  }

  &__image-outer {
    margin-bottom: calc(25 / 375 * 100vw);
    background: $accent-color;
    overflow: hidden;

    &--invert {
      background: transparent;
      position: relative;
    }

    @include mediaquery(pc) {
      position: absolute;
    }

    &--big {
      width: 100vw;
      height: calc(100vw * .75);
      margin-left: calc((25 / 375 * -100vw));

      @include mediaquery(pc) {
        width: 60vw;
        height: 40vw;
        margin: 0;
        top: 5vw;
        left: 0;
      }

      &-reverse {
        @include mediaquery(pc) {
          left: auto;
          right: 0;
        }
      }
    }

    &--medium {
      margin-left: calc(25vw - (25 / 375 * 100vw));
      width: 75vw;
      height: calc(75vw * .75);

      @include mediaquery(pc) {
        width: 44vw;
        height: 29.33333333333333vw;
        margin: 0;
        top: 45vw;
        left: 50vw;
      }

      &-reverse {
        margin-left: calc((25 / 375 * -100vw));

        @include mediaquery(pc) {
          left: auto;
          right: 50vw;          
        }
      }
    }

    &--small {
      width: 50vw;
      height: calc(50vw * .75);

      @include mediaquery(pc) {
        width: 32vw;
        height: 21.33333333333333vw;
        margin: 0;
        top: 70vw;
        left: 10vw;
      }

      &-reverse {
        margin-left: calc(50vw - (50 / 375 * 100vw));

        @include mediaquery(pc) {
          left: auto;
          right: 10vw;          
        }
      }
    }
  }

  &__image-overlay {
    width: 100%;
    height: 100%;
    background: $main-font-color;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0 100% 0 0%);
  }
}