@use "../var" as *;

// ===========================================
//                  contact
// ===========================================

.contact {
  background: $base-color;

  &__body {
    @include sp-padding;
    padding-top: 3vw;
    padding-bottom: 10vw;

    @include mediaquery(pc) {
      @include pc-padding;
      display: flex;
      justify-content: space-between;
    }
  }

  &__step {
    display: none;

    @include mediaquery(pc) {
      display: block;
      width: 30%;
    }
  }
}

// ===========================================
//                  form
// ===========================================

.form {
  font-family: 'Yu Mincho','YuMincho', serif;

  @include mediaquery(pc) {
    width: 60%;
  }

  &__label-outer {
    margin-bottom: 3vw;

    @include mediaquery(pc) {
      margin-bottom: 2vw;
    }
  }

  &__label {
    margin-right: 1em;
  }

  &__input-outer {
    margin-bottom: 6vw;
    border: 1px solid $base-font-color;

    @include mediaquery(pc) {
      margin-bottom: 4vw;
    }
    
    &--in-triangle {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: .8em;
        height: .6em;
        background: $base-font-color;
        clip-path: polygon(50% 100%, 0 0, 100% 0);      
        pointer-events: none;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: .8em 1em;
    color: $base-font-color;    

    &--select {
      line-height: 1.6;
      position: relative;
    }

    &--area {
      line-height: 1.6;
      height: 12em;
    }

    &::placeholder {
      color: #58616681;
    }
  }

  &__send {
    margin-bottom: 6vw;

    @include mediaquery(pc) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4vw;
    }
  }

  &__agree {
    position: relative;
    margin-bottom: 6vw;

    @include mediaquery(pc) {
      margin-bottom: 0;
    }
  }

  &__agree-input {
    opacity: 0;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    vertical-align: middle;
  }

  &__agree-checkbox {
    width: 1em;
    height: 1em;
    border: 1px solid $base-font-color;
    display: block;
    position: absolute;
    top: 50%;
    left: .25em;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__agree-check {
    width: 1em;
    height: .5em;
    border: {
      bottom: 1px solid $base-font-color;
      left: 1px solid $base-font-color;
    }
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: rotate(315deg);
    pointer-events: none;
    opacity: 0;
  }

  &__agree-input:checked + .form__agree-checkbox .form__agree-check {
    opacity: 1;
  }

  &__agree-label {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  &__agree-link {
    display: inline-block;
    overflow: hidden;
    position: relative;

    > span {
      display: inline-block;

      span {
        line-height: 1;
      }

      span:first-of-type {
        position: relative;
      }

      span:nth-of-type(2) {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }

  &__agree-link-bar {
    width: 100%;
    height: 1px;
    background: $base-font-color;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__submit {
    line-height: 1;
  }

  &__submit-button {
    width: 100%;
    padding: 1.5em 0;
    font-size: 1.2em;

    @include mediaquery(pc) {
      width: auto;
      padding: 1em 1.4em;
    }
  }
}

// ===========================================
//                  step
// ===========================================

.step {


  &__list {
    width: 100%;
    height: 30vw;
    border: 1px solid $base-font-color;
  }

  &__item {
    width: 100%;
    height: calc(100% / 3);
    @include flex-center;
    font-size: 1.5em;
    background: $base-color;
    color: $base-font-color;

    &:not(:last-child) {
      border-bottom: 1px solid $base-font-color;
    }

    &.current {
      background: $base-font-color;
      color: $base-color;
    }
  }
}