@use "../var" as *;

// ===========================================
//                  layout
// ===========================================

.container {
  @include sp-padding;

  @include mediaquery(pc) {
    padding-right: 0;
    padding-left: 0;
  }
}

.sp-br {
  @include mediaquery(pc) {
    display: none;
  }
}

.pc-br {
  display: none;
  @include mediaquery(pc) {
    display: block;
  }
}

// ===========================================
//                  heading
// ===========================================

.heading2 {

  &__main {
    overflow: hidden;

    span {
      display: inline-block;
    }
  }

  &__sub {
    font-size: .8em;
    line-height: 1;

    span {
      display: inline-block;
    }
  }
}

// ===========================================
//                  header
// ===========================================

.header {
  width: 100%;
  padding: calc(20 / 375 * 100vw) calc(25 / 375 * 100vw) 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  @include mediaquery(pc) {
    padding: 3vw 5vw 0;
  }

  &__logo {
    @include mediaquery(pc) {
      margin-right: 20vw;
    }
  }
}

.logo {
  line-height: 0;

  &__link {
    display: block;
  }

  &__image {
    width: 60px;
    height: auto;

    @include mediaquery(pc) {
      width: 80px;
    }
  }
}

.global-navi {
  display: none;

  @include mediaquery(pc) {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    
  }

  &__item:not(:last-child) {
    margin-right: 4vw;
  }

  &__link {
    display: block;
    padding: .5em 0;
  }
}

.hamburger-button {
  width: 38px;
  height: 42px;
  padding: 14px 0;
  cursor: pointer;
  overflow: hidden;

  &__inner {
    height: 100%;
    position: relative;
  }

  &__bar {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: $base-color;
    position: absolute;

    &--top {
      top: 0;
      left: -50%;
      transform-origin: middle left ;
    }

    &--middle {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }

    &--bottom {
      bottom: 0;
      right: -50%;
      transform-origin: middle right;
    }
  }

}

// ===========================================
//                  main-menu
// ===========================================

.main-menu {
  width: 100%;
  height: 100vh;
  min-height: 125vw;
  background: $accent-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  clip-path: inset(100% 0 0 0);
  opacity: 0;
  
  @include mediaquery(pc) {
    display: flex;
    min-height: 45vw;
  }

  &__body {
    width: 100%;
    height: 100%;
    padding-top: 18vh;
    color: $base-color;

    @include mediaquery(pc) {
      width: 50%;
    }
  }

  &__list {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.666666666666667em;
    margin-bottom: 4vh;

    @include mediaquery(pc) {
      font-size: 2.727272727272727em;
    }
  }

  &__item {
    text-align: center;
    overflow: hidden;
  }

  &__link {
    display: inline-block;
    overflow: hidden;
    position: relative;

    @include mediaquery(pc) {
      padding: 0;
    }

    > span {
      display: inline-block;

      span:first-of-type {
        position: relative;
      }

      span:nth-of-type(2) {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }

  &__link-bar {
    width: 100%;
    height: 1px;
    background: $base-color-alpha;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__second-list {
    display: flex;
    justify-content: center;
    line-height: 0;
    @include mediaquery(pc) {
      margin-top: 3vh;
    }
  }

  &__second-item:not(:last-child) {
    margin-right: 2.5vw;
  }

  &__second-link {
    display: block;
    padding: 10px;
  }

  &__second-image {
    width: min(calc(20 / 375 * 100vw), 36px);
    height: auto;

    @include mediaquery(pc) {
      width: calc(42 / 1920 * 100vw);
    }
  }

  &__copy-right {
    text-align: center;

  }

  &__image-outer {
    display: none;

    @include mediaquery(pc) {
      display: block;
      width: 50%;
    }
  }

  &__image-list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__image-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// ===========================================
//                  footer
// ===========================================

.footer {
  background: $main-color;
  color: $main-font-color;
  height: 100vh;
  min-height: 125vw;
  width: 100%;
  @include sp-padding;
  display: flex;
  align-items: center;
  position: relative;

  @include mediaquery(pc) {
    min-height: 45vw;
    @include pc-padding;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__inner {
    @include mediaquery(pc) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__main {
    width: max-content;
  }

  &__main-body {
    line-height: 1.6;
    font-size: min(calc(10 / 375 * 100vw), 16px);
    margin-bottom: 6vw;
    
    @include mediaquery(pc) {
      font-size: .8em;
    }
  }

  &__copy-right {
    position: absolute;
    bottom: 3vh;
    left: calc(25 / 375 * 100vw);

    @include mediaquery(pc) {
      display: none;
    }
  }
}

.site-map {

  font-size: min(calc(18 / 375 * 100vw), 26px);

  @include mediaquery(pc) {
    font-size: 1.545454545454545em;
  }

  &__item {
    margin-bottom: 4vh;

    @include mediaquery(pc) {
      margin-bottom: 9vh;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    padding: .5em 0;
  }

  &__second-list {
    font-size: .7em;
  }

  &__second-item {
    margin-bottom: 3vw;

    @include mediaquery(pc) {
      margin-bottom: 2.5vh;
    }

    &:first-child {
      margin-top: 2vw;

      @include mediaquery(pc) {
        margin-top: 2vh;
      }
    }
  }

  &__second-link {
    padding: .5em 0;
  }
}

.footer-dummy {
  @include mediaquery(pc) {
    height: 100vh;
    min-height: 45vw;
  }
}

// ===========================================
//                  pillar
// ===========================================

.pillar {
  display: none;

  @include mediaquery(pc) {
    display: block;
    color: $base-color;
  }

  &__content {
    position: fixed;
    top: 50%;
    z-index: 9;

    &--left {
      left: 5vw;
      transform: translate(-50%, -50%) rotate(270deg);
    }

    &--right {
      right: 5vw;
      transform: translate(50%, -50%) rotate(90deg);
    }
  }
}

// ===========================================
//                  label
// ===========================================

.label {
  display: inline-block;
  padding: .6em .8em;
  background: $base-font-color;
  color: $base-color;
}

// ===========================================
//                  top
// ===========================================

.top {
  width: 100%;
  height: 100vh;
  min-height: 125vw;
  position: relative;

  @include mediaquery(pc) {
    min-height: 45vw;
  }

  &__heading {
    position: absolute;
    top: 30%;
    left: calc(25 / 375 * 100vw);
    right: calc(25 / 375 * 100vw);

    @include mediaquery(pc) {
      left: 10vw;
      right: 10vw;
      top: 35%;
    }
  }

  &__breadcrumb {
    position: relative;
    z-index: 1;
  }

  &__title {
    @include mediaquery(pc) {
      font-size: 8.5em;
    }
  }

  &__body {
    position: absolute;
    left: calc(25 / 375 * 100vw);
    right: calc(25 / 375 * 100vw);
    bottom: 5%;

    @include mediaquery(pc) {
      left: 10vw;
      right: 10vw;
    }
  }
}

// ===========================================
//                  breadcrumb
// ===========================================

.breadcrumb {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-of-type)::after {
      content: "/";
      margin: 0 .5em;
    }

    &:last-of-type {
      font-weight: 500;
    }
  }
}