@use "../var" as *;

// ===========================================
//                  news
// ===========================================

.news {
  width: 100vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
  background: $base-color;
  overflow: hidden;

  @include mediaquery(pc) {
    padding: 10vw 10vw 10vw;
  }

  &__title {
    margin-bottom: 3vw;

    @include mediaquery(pc) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      z-index: 1;
    }
  }

  &__content {
    position: relative;
  }

  &__image-list {
    display: none;

    @include mediaquery(pc) {
      position: absolute;
      top: -10vw;
      right: -15vw;
      pointer-events: none;
      display: block;
    }
  }
}

// ===========================================
//                  stack-list
// ===========================================

.stack-list {
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__item {
    position: relative;
    padding: 5vw 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mediaquery(pc) {
      padding: 3.5vw 0;
    }  
  }

  &__bar {
    width: 100%;
    height: 1px;
    background: $base-font-color;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__term {
    width: 25%;

    @include mediaquery(pc) {
      width: 12%;
    }
  }

  &__label {
    width: 75%;

    @include mediaquery(pc) {
      width: 12%;
    }
  }

  &__description {
    width: 100%;
    line-height: 1.6;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 2vw;

    @include mediaquery(pc) {
      width: 76%;
      margin-top: 0;
    }
  }
}

// ===========================================
//                  hover-image-list
// ===========================================

.hover-image-list {
  @include mediaquery(pc) {
    width: 36vw;
    height: 24vw;
    opacity: 1;
    position: relative;
    right: 35vw;  
    overflow: hidden;
  }

  &__item {
    @include mediaquery(pc) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      }  
  }
}