@use "../var" as *;

// ===========================================
//                  shop
// ===========================================

.shop {
  background: $base-color;
  position: relative;

  &__content-glue {
    background: inherit;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
  }

  &__title {
    margin-bottom: 3vw;

    @include mediaquery(pc) {
      padding-left: 10vw;
    }
  }
}

// ===========================================
//                  media
// ===========================================

.media {
  padding-bottom: 5vw;

  @include mediaquery(pc) {
    display: flex;
  }

  &__image-outer {
    width: 100vw;
    height: 75vw;
    margin-left: -6.6666666667vw;
    position: relative;
    overflow: hidden;

    @include mediaquery(pc) {
      width: 62vw;
      height: 41.33333333333333vw;
      margin-left: -6.6666666667vw;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image-overlay {
    width: 100%;
    height: 100%;
    background: $main-font-color;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__body {
    padding: 3vw 0;
    line-height: 1.6;

    @include mediaquery(pc) {
      width: 30vw;
      padding: 0 0 0 5vw;
    }
  }

  &__sub-title {
    font-weight: 500;
    line-height: 1.6;
  }

  &__definition-item {
    display: flex;
    padding-bottom: 2vw;

    @include mediaquery(pc) {
      padding-bottom: 1vw;
    }
  }

  &__term {
    width: 25%;
  }

  &__description {
    width: 75%;
  }

  &__description-link {
    display: inline-block;
    overflow: hidden;
    position: relative;

    > span {
      display: inline-block;

      span:first-of-type {
        position: relative;
      }

      span:nth-of-type(2) {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }

  &__description-link-bar {
    width: 100%;
    height: 1px;
    background: $main-font-color;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

// ===========================================
//                  gallery
// ===========================================

.gallery {
  margin-left: -6.6666666667vw;
  padding-bottom: 15vw;
  width: 100vw;
  overflow: hidden;

  @include mediaquery(pc) {
    margin-left: 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 3vw;
  }

  &__slider {
    position: relative;

    @include mediaquery(pc) {
      @include pc-padding;
    }
  }

  &__list {
    display: flex;
    width: max-content;
  }

  &__item {
    width: 73.33333333333333vw;
    height: 97.7777777vw;
    margin-right: 6.6666666667vw;
    overflow: hidden;

    @include mediaquery(pc) {
      width: 38.5vw;
      height: 28.875vw;
      margin-right: 3vw;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
  }

  &__prev {
    width: 25vw;
    height: calc(100% + 10vw);
    position: absolute;
    top: -5vw;
    left: 0;
    cursor: pointer;
  }

  &__next {
    width: 25vw;
    height: calc(100% + 10vw);
    position: absolute;
    top: -5vw;
    right: 0;
    cursor: pointer;
  }

}