$breakpoint: (
  tab: "screen and (min-width: 600px)",
  pc: "screen and (min-width: 1024px)"
);

@mixin mediaquery($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

@mixin sp-padding {
  padding-left: calc(25 / 375 * 100vw);
  padding-right: calc(25 / 375 * 100vw);
}

@mixin pc-padding {
  padding-left: 10vw;
  padding-right: 10vw;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}