$base-color: #fff;
$base-color-alpha: rgba(255, 255, 255, .7);
$base-font-color: #586166;
$main-color: #1f1d1d;
$main-font-color: #dadada;
$accent-color: linear-gradient(45deg, rgba(178,242,255,1) 0%, rgba(255,177,188,1) 100%);